body {
  text-align: center;
  font-family: Helvetica;
}

.header {
  background-image: url('../images/the-flatiron-building.png');
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.step p {
  font-size: 14px;
}

a {
  color: white;
  font-size: 18px;
}
