body {
  text-align: center;
  font-family: Helvetica;
}

.header, .separator {
  background-image: url('../images/the-flatiron-building.png');
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.step p, .aboutus p {
  font-size: 14px;
}

a {
  color: white;
  font-size: 18px;
}

.footer {
  background-color: dimgray;
  text-align: left;
  color: white;
  font-size: 11px;
}

.footer a {
  font-size: 11px;
}
